# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
.venv/
venv/

# Dev mode data
*.db
uploads/
logs/

# Environment
.env

# IDE
.vscode/
.idea/

# Node
node_modules/
frontend/dist/

# OS
.DS_Store
Thumbs.db
.qoder
